/* resetting */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  html{
    font-size:calc(1px + (24 - 16) * ((100vw - 400px) / (800 - 400)));
  }
  body{
    overflow:hidden;
    font-family:Lato,Tajawal;
    background-color:#f2f3f6;
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
    color:unset;
    cursor:pointer;
  }
  @media screen and (max-width:800px){
    /******* TABLE *******/
    html{
      font-size:calc(24px + (24 - 16) * ((100vw - 400px) / (800 - 400)));
    }
    .labtop{
      display: none !important;
    }
  }
/* labtop */
@media screen and (min-width:800px) {
    .mobile{
        display: none !important;
    }
}